html, body {
    height: 100vh;
}

nav {
    position: fixed;
    z-index: 20;
    background-color: rgba(139, 151, 163, 0);
}

.navbar {
    align-items: start;
}

.main-image {
    position: absolute;
    top: 0px;
    z-index: -1;
}






.bg {
    height: 100%;
    background-image: url('Images/landing-page-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}














