body {
    font-family: 'Open Sans', sans-serif;
}

.index-nav {
    align-items: center;
    justify-content: center;
    height: 100vh;
}

@media (max-width: 767.98px) {
    .navbar {
        display: flex !important;
        height: auto;
        justify-content: space-between;
    }

    li {
        padding-left: 10px;
        text-align: center;
        background-color: #d5dae0;
    }

    .logo {
        width: 100px;
        align-self: center;
        margin-left: 10px;
    }

    .navbar-toggler {
        margin-right: 10px;
    }

    .gear-image {
        margin-top: 10px;
    }
}

@media (min-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .logo {
        width: 150px;
    }

    li a:hover {
        background-color: #d5dae0;
        border-radius: 10px;
    }
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.row {
    margin: 0;
    padding: 0;
}

.col-12 {
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 100;
    font-size: 25px;
    color:  rgba(0,0,0,.55);
    margin-bottom: 20px;
}

p {
    text-align: justify;
}

.gear-image {
    border: 1px solid #d5dae0;
    border-radius: 10px;
}



















