body {
    font-family: 'Open Sans', sans-serif;
}

/*Home page style*/
@media (max-width: 767.98px) {
    .home-image-grid img {
        padding-bottom: 10px;
    }
}

@media (min-width: 768px) {
    .home-image-grid {
        
        
    }
}

.index-nav {
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 15px;
    border: none;
}

@media (max-width: 767.98px) {
    .navbar {
        display: flex !important;
        height: auto;
        justify-content: space-between;
    }

    li {
        padding-left: 10px;
        text-align: center;
        background-color: #d5dae0;
    }

    .logo {
        width: 100px;
        align-self: center;
        margin-left: 10px;
    }

    .navbar-toggler {
        margin-right: 10px;
    }

    .gear-image {
        margin-top: 10px;
    }
}

@media (min-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .logo {
        width: 150px;
    }

    li a:hover {
        background-color: #d5dae0;
        border-radius: 10px;
    }
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.row {
    margin: 0;
    padding: 0;
}

.col-12 {
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 100;
    font-size: 25px;
    color:  rgba(0,0,0,.55);
    margin-bottom: 20px;
}



.gear-image {
    border: 1px solid #d5dae0;
}

.overlay-wrapper {
    position: relative;
    background-color: blue;
}

.img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #83868a;
}

.overlay-wrapper:hover .img-overlay {
    opacity: 0.9;
}

.overlay-text {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 80%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 16px;
}

.hor-nav li {
    margin-left: 5px;
    margin-right: 5px;
}

.horizontal-nav {
    width: 100%;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid  #babdc2;
    border-bottom: 1px solid  #babdc2;
}

.about-content-wrapper {
    width: 90vw;
    margin: auto;
    padding-top: 20px;
}

@media (min-width: 1200px) {
    .about-content-wrapper {
        width: 64vw;
        margin: auto;
    }
}

















